.contact {
  &__form {
    .form__group {
      position: relative;
      width: 100%;
      padding: 0 16px;
      margin: 16px 0;
      &--submit {
        @extend .form__group;
        @include flex(block, row, end, center, null);
      }
      input, textarea, button {
        @include appearance(none);
        position: relative;
        display: block;
        width: 100%;
        padding: 12px 8px 8px 8px;
        border: none;
        background-color: rgba($light, 0.4);
        color: $dark;
        font-weight: 500;
        &::placeholder {
          font-family: Bebas, 'Roboto', sans-serif;
          font-weight: 400;
          color: rgba($dark, 0.6);
        }
      }
      textarea {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        resize: none;
      }
      button {
        width: unset;
        font-family: Bebas, 'Roboto', sans-serif;
        font-weight: 400;
        word-spacing: 0.2em;
      }
    }
  }
  &__info {
    position: relative;
    padding: 16px;
    h2 {

    }
    table {
      tr {
        td {
          font-family: Bebas, 'Roboto', sans-serif;
          font-weight: 400;
        }
      }
    }
  }
}
