.details {
  &__top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 18px;
    background: radial-gradient(#95817a, #b7a398);
  }
  &__top--left {
    position: relative;
    h2 {
      padding: 19px 0 11px 20px;
      margin: 0;
      font-size: 32px;
      line-height: 36px;
    }
    p {
      position: absolute;
      bottom: 0;
      padding: 15px 250px 15px 20px;
      margin: 0;
      background-color: $accent;
      color: white;
      bottom: 0;
    }
  }
  &__top--right {
    padding: 5px 20px;
    text-align: right;
    p {
      margin: 0;
    }
    h3 {
      margin: 0;
      font-size: 40px;
      text-transform: lowercase;
      text-transform: capitalize;
    }
  }
}