.product-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 56px;
  &__item{
    height: 220px;
    .product-list__image{
      height: 180px;
    }
    .product-list__caption{
      margin-top: 8px;
      font-weight: 500;
      line-height: 24px;
      a {
        color: $accent;
      }
    }
  }
}
@media only screen and (min-width: 769px){
  .product-list {
    grid-template-columns: 1fr 1fr 1fr;
    .product-list__item {
      height: 260px;
      .product-list__image {
        height: 200px;
      }
    }
  }
}
