.search {
  &__form {
    position: relative;
    display: block;
  }
  &__container {
    position: relative;
    @include flex(block, row-reverse, start, center, null);
    height: 32px;
    @include border-radius(32px);
    padding: 0 16px;
    margin: 0 16px;
    background-color: $background;
    label {
      @include flex(block, row, center, center, null);
      width: 32px;
      height: 32px;
      color: $accent;
    }
    input {
      @include appearance(none);
      border: none;
      background-color: transparent;
      font-weight: 500;
    }
    .header__button {
      display: none;
    }
  }
  // Search results:
  &__results {
    position: absolute;
    bottom: -64px;
    left: 24px;
    width: calc(100% - 48px);
    font-family: 'Roboto', sans-serif;
    li {
      position: relative;
      @include flex(block, row, start, center, null);
      width: calc(100% - 48px);
      @include border-radius(4px);
      margin: 2px 0 !important;
      background-color: $background;
      overflow: hidden;
      box-shadow: 0 4px 20px 0 rgba($dark, 0.4);
      opacity: 0;
      figure {
        height: 112px;
        margin: 0;
        img {
          width: auto;
          height: 112px;
        }
      }
      figcaption {
        position: relative;
        @include flex(block, column, center, start, null);
        width: 100%;
        padding: 12px;
        p {
          display: block;
          margin: 0 0 0.5em 0;
          color: $dark;
          font-size: 1.2em;
          font-weight: 400;
        }
        a {
          display: block;
          padding: 0;
          color: $accent;
          font-family: 'Roboto', sans-serif;
          font-size: 1em;
          font-weight: 500;
        }
      }
      animation: fade-in 200ms curve(deceleration) forwards;
      @for $i from 2 through 10 {
        &:nth-child(#{$i}) {
          animation-delay: $i * 20ms;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .search {
    &__form {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      transform-origin: right;
      &.active {
        display: block;
        animation: search-open 400ms curve(deceleration) forwards;
      }
      &.closing {
        display: block;
        animation: search-close 400ms curve(acceleration) forwards;
      }
    }
    &__container {
      position: absolute;
      top: 12px;
      left: 12px;
      width: calc(100% - 24px);
      height: 48px;
      padding: 0;
      margin: 0;
      box-shadow: 0 28px 112px 0 rgba(0,0,0,0.3);
      label {
        @include flex(block, row, center, center, null);
        width: 48px !important;
        height: 48px;
      }
      input {
        width: 100%;
        padding: 0 16px;
        font-size: 1em;
        text-align: left;
        &::placeholder {
          color: rgba($dark, 0.6);
        }
      }
      .header__button {
        display: flex;
      }
    }
  }
}
@media only screen and (min-width: 769px) {
  nav ul {
    position: unset;
  }
  .search {
    &__results {
      position: absolute !important;
      bottom: unset;
      li {
        width: 100%;
        padding: 12px;
      }
    }
  }
}

@keyframes search-open {
  from {
    opacity: 0;
    @include transform(rotateY(90deg));
  }
  to {
    opacity: 1;
    @include transform(rotateY(0deg));
  }
}
@keyframes search-close {
  from {
    opacity: 1;
    @include transform(rotateY(0deg));
  }
  to {
    opacity: 0;
    @include transform(rotateY(45deg));
  }
}
@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}
