.sidebar__main{
  margin-top: 62px;
  .sidebar__collections{
    .sidebar__collections--image {
      margin-bottom: 12px;
    }
  }
  .sidebar__newsletter {
    background-color: white;
    padding: 30px 30px 55px 30px;
    h2 {
      margin: 0;
      display: block;
    }
    .sidebar__newsletter--input {
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-column-gap: 12px;
      margin: 16px 0;
      line-height: 26px;
      label {
        color: $lightText;
      }
      input {
        width: 100%;
        background-color: $backgroundDark;
        border: none;
      }
      &:last-of-type {
        margin-bottom: 22px;
      }
    }
    button {
      position: relative;
      bottom: 0;
      float: right;
      padding: 8px 36px;
      background-color: $backgroundDark;
      color: $lightText;
      border: none;
    }
  }
}

//Desktop Style
@media only screen and (min-width: 768px) {
  .sidebar__main {
    margin-top: 0 !important;
    .sidebar__collections--heading {
      display: none;
    }
    .sidebar__newsletter--input {
      grid-template-columns: 1fr 2fr;
      grid-column-gap: 32px;
      label {
        text-align: right;
      }
    }
  }
}
