@import "../../../assets/sass/helpers";

//// Style:
@import "../../../assets/sass/style/colors";
@import "../../../assets/sass/style/typography";

//// Layout:
@import "layout/admin";

//// Components:

//// General styles
*,
*::after,
*::before {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
*::selection {
  // Selection background color here
}

html {
  -webkit-text-size-adjust: 100%;
  font-family: 'Roboto', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  width: 100% !important;
  margin: 0 !important;
}

.container {
  width: 768px;
  margin: auto;
}

.header__sidebar {
  box-shadow: 1px 0 4px 0 rgba(0,0,0,0.23);
}

.table__header {
  .header__list--right {
    li {
      a {
        i {
          color: rgba(black, 0.87);
        }
      }
    }
  }
}
